<%= link_to 'New Trip', new_trip_path, class: "float-right btn btn-outline-primary" %>

<h1>Trips</h1>

<% @trips.each do |trip| %>
  <div class="card card-block">
    <h3><%= link_to trip.name, trip %></h3>
  </div>
<% end %>
